body {
	color: #000000;
}

h1{
    font-family: "Roboto-Bold";
    font-size: 24px;
    color: #8B0303;
    margin-bottom: 20px;
}
.my-shadow{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.my-row{
    margin-bottom: 30px;
}
/*** header***/

.headline{
    background-color: #2E2D2E;
    height: 30px;
    font-family: "RobotoMedium";
    font-size: 12px;
    color: #ffffff;
    line-height: 30px;
}
.headline a{
   font-family: "RobotoMedium";
    font-size: 12px;
    color: #ffffff;
    line-height: 30px;
}
.headline a:hover{
   text-decoration: underline;
}
.headline_logo{
	margin: 15px;
}

/* header_search*/
.headline_search{
    width: 100%;
    display:flex;
    justify-content: center;align-items: center; 
    width: 100%; 
    height: 100%;
}
.headline_srctxt{
    width: 80%;
    border-top: 2px solid #A6A7A7;
    border-left: 2px solid #A6A7A7;
    border-bottom: 1px solid #A6A7A7;
    border-right: 1px solid #A6A7A7;
    background: #F1F2F2;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}

.headline_srcbnt{
    background: #e62929;
    background: -moz-linear-gradient(-90deg, #e62929 0%, #990300 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e62929), color-stop(100%,#990300));
    background: -webkit-linear-gradient(-90deg, #e62929 0%,#990300 100%);
    background: -o-linear-gradient(-90deg, #e62929 0%,#990300 100%);
    background: -ms-linear-gradient(-90deg, #e62929 0%,#990300 100%);
    background: linear-gradient(180deg, #e62929 0%,#990300 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62929', endColorstr='#990300',GradientType=1 );
    padding: 3px 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-shadow: -1px -1px 0px #630C0C;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    position: relative;
    left: -20px;
}
.headline_mob_src{
    position: relative;
    display:none;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center; /* и вертикали */
    width: 100%; /* задали размеры блоку-родителю */
    height: 100%;
    overflow: hidden; 
}
/* /header_search*/

/* header_basket*/
.headline_basket, 
.headline_login{

    position: relative;
    display: inline-block;
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center; /* и вертикали */
    width: 100%; /* задали размеры блоку-родителю */
    height: 100%;
    overflow: hidden;
}
.headline_basket a img{
    height: 38px;
    width: 42px; 
}
.headline_login a img {
    height: 46px;
    width: 46px;
}
.headline_basket a span {
    font-family: "MyriadPro-Semibold" !important;
    background-color: #D32027;
    position: absolute;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    bottom: 50px;
    right: 0;
}
/* /header_basket*/

/* header_menu*/
.h_menu{
    margin-top: 5px;
    background: linear-gradient(to bottom, rgba(204,10,10,1) 0%,rgba(181,3,0,1) 100%);    
    width: 100%;
    border-top: 1px solid #D55251;
    border-bottom: 1px solid #231F20;; 
}
.h_menu a:hover{
    background: #990300;
    color: #fff;
}
.h_menu_item{
    border-right: 1px solid #D35150;
    border-left: 1px solid  #8A0C0A;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-family: "MyriadPro-Regular";
    text-shadow: -1px -1px 0px #630C0C;
    text-align: center;   
}
.h_menu .nav{
    border-left: 1px solid #D35150;
    border-right: 1px solid  #8A0C0A;
}


/* /header_menu*/

/* header_slider*/
.carousel-control-next-icon, 
.carousel-control-prev-icon {
    height: 60px;
    width: 30px;
}
.carousel-control-prev{
    left: -50px;
}
.carousel-control-next{
    right: -50px;
}
.carousel-control-prev-icon{
    background-image: url(image/slider_prev.png);
}
.carousel-control-next-icon{
    background-image: url(image/slider_next.png);
}
/* /header_slider*/


.headline_bottom {
    background: linear-gradient(to bottom, rgba(204,10,10,1) 0%,rgba(181,3,0,1) 100%);
    height: 9px;
    width: 100%;
}
/*** /header***/

/**/
.content_logo{
    position: relative;
    left: -25px;
}

/***  content***/

/*Левое меню*/
.LM {
    border: #E3E4E5 solid 2px;
    padding: 0;
    cursor: pointer;
}
.lmenu{
    width: 100%;
    font-family: "RobotoRegular";
    font-size: 20px;
    color: #414042;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f2f2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f2f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f2f2',GradientType=0 ); /* IE6-9 */
    text-align: left;
    padding: 10px 35px;
    }
.lmenu:hover{
    background: rgb(230,231,232); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(230,231,232,1) 25%, rgba(241,242,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(230,231,232,1)), color-stop(100%,rgba(241,242,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(230,231,232,1) 25%,rgba(241,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(230,231,232,1) 25%,rgba(241,242,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(230,231,232,1) 25%,rgba(241,242,242,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(230,231,232,1) 25%,rgba(241,242,242,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e7e8', endColorstr='#f1f2f2',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f6', endColorstr='#e8e9ea',GradientType=0 ); /* IE6-9 */
}
.lmenu.active {
        background: linear-gradient(to bottom, rgba(204,10,10,1) 0%,rgba(181,3,0,1) 100%);
        color: #fff;
        border-radius: 0;
    }   
.lmenu a{
    width: 100%
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    color: #231F20;
}
.lmenu a:hover{
    text-decoration: none;
}
.lm_l1{
    padding-left: 35px;
}
.lm_l2{
    padding-left: 50px;
}
.lm_l3{
    padding-left: 65px;
}
.dropdown-toggle::after{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.4em;
  vertical-align: 0.2em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: #414042;
}
.card, .card-footer{
    border: 0;

}
.card-body{
    vertical-align: middle;
    margin:auto;
    flex: none;
    padding: 0;
}
/*Левое меню*/

/*Блок Каталог*/
.breadcrumb{
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.breadcrumb a, .breadcrumb-item a, .breadcrumb-item.active{
    font-family: "RobotoRegular";
    font-size: 14px;
    color: #666666;
    }
.breadcrumb a:hover{
    text-decoration: underline;
    color: #666666;
}
.my-btn {
    font-family: "RobotoRegular";
    font-size: 18px;
    color: #231F20;
    background: #F5F6F6;
    border-color: #B9BBBD;
}
.table_view img{
    
}
.list_view{
    background-image: url(image/list_view.png);
}
.c{
    display: inline-block;
    text-align: center;
    width: 172px;
    height: 250px;
}
.c_in{
    width: 172px;
    height: 150px;
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center; /* и вертикали */
    overflow: hidden; /* если элемент больше блока-родителя – обрезаем лишнее */
}
.c img{
    max-width: 172px;
    max-height: 150px;
    overflow: hidden;
    transition: all 0.5s ease;
    zoom: 0.9;
    display: block;
    margin: 0 auto;
}
.c img:hover {
    max-width: 200px;
    max-height: 180px;
    cursor: pointer;
}
.c a{
    text-align: center;
    font-family: "RobotoMedium";
    font-size: 16px;
    color: #231F20; 
}
.price {
    position: relative;
    background: url(image/price.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90px;
    height: 25px;
    color: #fff;
    font-family: "RobotoMedium";
    font-size: 17px;
    bottom: 100px;
    right:-31px;
    padding: 5px 0 5px 30px;
}
.price:after{
    content: "p.";
    font-family: "RobotoMedium";
    font-size: 17px;
    margin-left: 0px;
    margin-right: 10px;
}
.sale img{  
    width: 35px;
    height: 50px;
    bottom: 240px;
    position: relative;
    left: -55px;
}
.my-page{
    background: #eff0f1;
    height: 32px;
    min-width: 32px;
    line-height: 32px;
    color: #414042;
    font-size: 15px;
    font-family: "RobotoRegular";
    text-align: center;
    margin: 0 3px;
    border: 1px solid #909295;
    padding: 0 0;
}
.my-page:hover{
    background: #CE0202;
    color: #414042;
}
.page-item:first-child .my-page,
.page-item:last-child .my-page
{
    background: transparent;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 0 20px;
    color: #909295;
}
.my-page.active {
    background: #CE0202;
    color: #fff;
    border: none;
}

/* /Блок Каталог*/
/***  /content***/

/*Подвал сайта*/
.footer_metrika{
    background: #2E2D2E;
    height: 20px;
}
.footer_metrika img{
    vertical-align: top;
    margin-top: 2px;
}
.footer_menu{
    background: #3B3B3B;
    min-height: 165px;
    padding: 20px 0;
    border-bottom: #2E2D2E solid 10px;
}
.footer_menu h3{
    text-transform: uppercase;
    color: #BCBEC0;
    font-size: 18px;
    font-family: "RobotoMedium";
}
.footer_menu ul{
    list-style-type: disc;
    padding: 0 0 0 20px;
    margin-bottom: 5px;
}
.footer_menu li {
    padding: 0 0 5px 0;
}
.footer_menu ul, li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: "RobotoRegular";
 } 

 .footer_menu li a:hover {
    text-decoration: underline;
    color: #fff;
}
/*подвал сайта*/

/*Адаптация*/
@media screen and (max-width: 1200px){
    .headline_mob_src{
        display: none;
    }
}
@media screen and (max-width: 992px){
    .headline_srctxt{
        width: 63%;
    }
    .headline_srcbnt{
        left: -5px;
    }
    .my-pad{
    padding-right: 15px;
    }
    .headline_mob_src{
        display: none;
    }
    .carousel-control-prev{
    left: -30px;
    }
.carousel-control-next{
    right: -30px;
    }
}
@media screen and (max-width: 768px){
    .headline_search{
        display: none;
    }
    .headline_mob_src{
        display: flex;
    }
    .carousel-control-prev{
    left: -10px;
    }
.carousel-control-next{
    right: -10px;
    }
}
@media screen and (max-width: 576px){
    .headline_search{
        display: none;
    }
    .headline_mob_src{
        display: flex;
    }

}